.index {
  padding: 20px 0 0 0;
  .at-button {
    width: 80%;
  }
  .at-card {
    margin: 20px 0 0 0;
    text-align: center;
    .article-img {
      width: 100px;
      height: 100px;
    }
  }
}
